*{
	box-sizing: border-box;
}


body{
  /* Задаем шрифт для всего документа*/
	font-family: Comic Sans MS;
  /* Размер шрифта для всего документа*/
	font-size: 18px;
}

h1{
   /* Размер шрифта заголовка первого уровня*/
	font-size: 1.8em;
  /* Выравнивание по центру*/
	text-align: center;
}

p {
   /* Отменяем обтекание с правой стороны элемента*/
  clear: right;
  /* Устанавливаем значение полей вокруг элемента*/
  padding: 4px;
}

/* Устанавливаем стиль для колонок*/
.columnstyle{
	border-color: black;
	border-style: solid;
  border-width: 2px;
	background-color: #E0E0F8;
	margin: 8px;
}

/* Устанавливаем стиль для заглавия колонок*/
.titlestyle{
padding-left: 25px;
padding-right: 25px;
text-align: center;
float: right;
font-size: 1.3em;
font-weight: bolder;
border-bottom-style: solid;
border-bottom-width: 2px;
border-left-style: solid;
border-left-width: 2px;
}

.row {
  width: 100%;
}

#chicken{
  background-color: #F5BCA9; 

}

#beef{
  background-color: #B40404;
  font-color: white;
  padding-left: 42px;
  padding-right: 42px;
}

#sushi{
  background-color: #F5DEB3;
  padding-left: 37px;
  padding-right: 37px;
}

/* Размеры для настольного компьютера*/
@media (min-width: 992px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left;
  }
  .col-lg-1 {
    width: 8.33%;
  }
  .col-lg-2 {
    width: 16.66%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-4 {
    width: 33.33%;
  }
  .col-lg-5 {
    width: 41.66%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-7 {
    width: 58.33%;
  }
  .col-lg-8 {
    width: 66.66%;
  }
  .col-lg-9 {
    width: 74.99%;
  }
  .col-lg-10 {
    width: 83.33%;
  }
  .col-lg-11 {
    width: 91.66%;
  }
  .col-lg-12 {
    width: 100%;
  }
}
/* Размеры для планшета*/
@media (min-width: 768px) and (max-width: 991px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
  }
  .col-md-1 {
    width: 8.33%;
  }
  .col-md-2 {
    width: 16.66%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-4 {
    width: 33.33%;
  }
  .col-md-5 {
    width: 41.66%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-7 {
    width: 58.33%;
  }
  .col-md-8 {
    width: 66.66%;
  }
  .col-md-9 {
    width: 74.99%;
  }
  .col-md-10 {
    width: 83.33%;
  }
  .col-md-11 {
    width: 91.66%;
  }
  .col-md-12 {
    width: 100%;
  }
}
}
